
.running-text-container {
  width: 100;
  background-color: #333;
  color: white;
  overflow: hidden;
  /* position: relative; */
  padding: 15px 0;
  
  margin-bottom: 50px;
}
.box {
  height: 500px;
  background-color: aliceblue;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 450px;
  height: 450px;
  perspective: 1000px;
}

.watch-img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.watch-img:hover {
  transform: rotateY(180deg);
}

.corner {
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 6px 12px;
  border-radius: 10px;
}

.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.running-text {
  display: flex;
  white-space: nowrap;
  animation: runningText 20s linear infinite;
}

.running-text span {
  margin-right: 30px;
  padding: 0 20px;
}

.running-text-container:hover .running-text {
  animation-play-state: paused;
}

@keyframes runningText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
